<h1>Forslag</h1>
                            <table>
                                <tr>
                                    <th>Tittel</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Ansvarlig</th>
                                    <th>Sendt inn av</th>
                                    <th>Se detaljer</th>
                                </tr>
                                <tr>
                                    <td>Et bra forslag</td>
                                    <td>05.03.2023</td>
                                    <td>Venter</td>
                                    <td>Jens Jensermann</td>
                                    <td>Nils Nilsemann</td>
                                    <td><button style="width: 100%;">Se detaljer</button></td>
                                </tr>
                                <tr>
                                    <td>Et bra forslag</td>
                                    <td>05.03.2023</td>
                                    <td>Venter</td>
                                    <td>Jens Jensermann</td>
                                    <td>Nils Nilsemann</td>
                                    <td><button style="width: 100%;">Se detaljer</button></td>
                                </tr>
                                <tr>
                                    <td>Et bra forslag</td>
                                    <td>05.03.2023</td>
                                    <td>Venter</td>
                                    <td>Jens Jensermann</td>
                                    <td>Nils Nilsemann</td>
                                    <td><button style="width: 100%;">Se detaljer</button></td>
                                </tr>
                                <tr>
                                    <td>Et bra forslag</td>
                                    <td>05.03.2023</td>
                                    <td>Venter</td>
                                    <td>Jens Jensermann</td>
                                    <td>Nils Nilsemann</td>
                                    <td><button style="width: 100%;">Se detaljer</button></td>
                                </tr>
                            </table>