<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link reL="shortcut icon" href="../assets/img/favicon.png" type="image/ico">
    <title>Page Title</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">
</head>
</html>
<body>

    <!-- HTML go here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <a asp-controller="Repairs" asp-action="Index">Tilbake til reparasjonsoversikt...</a>
                <h1>Reparasjon</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <u>Tittel:</u>
                <p>Tittel på reparasjon</p>
            </div>

            <div class="col-sm-3">
                <u>Ansvarlig for reparasjon:</u>
                <p>Kar Dude Fyr</p>
            </div>

            <div class="col-sm-3">
                <u>Sendt inn av:</u>
                <p>Jeff Jefferson</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <u>Status:</u>
                <p>Ikke vurdert</p>
            </div>

            <div class="col-sm-3">
                <u>Deadline:</u>
                <p>04.04.2024</p>
            </div>

            <div class="col-sm-3">
                <u>Ferdig dato:</u>
                <p>**vises kun når ferdig**</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <u>Beskrivelse:</u>
                <p>
                    Dette er beskrivelsen av prosjektet. Dette kan være en veeeeeeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeeeeeeeeeeeee eeeeeeeeeeeldig lang tekst.
                    Bare sånn at du vet det.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <hr>
                <h3>Kommentarer:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Legg til kommentar:
                <form id="addcomment"></form>
                <textarea rows="4" cols="82" name="comment" form="addcomment" placeholder="Skriv en kommentar her..."></textarea><br>
                <button type="submit">Legg til kommentar</button>
                <br>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Lagt inn av <i>Gubbe Gubbesen</i> den <i>05.05.23 kl. 14:36</i><br>
                "Trengs å fikses asap!!"
                <br>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                Lagt inn av <i>Personell Person</i> den <i>05.05.23 kl. 14:34</i><br>
                "Jeg synes dette prosjektet er veldig nødvendig!!"
                <br>
                <hr>
            </div>
        </div>

        <!-- HTML end here -->
    </div>
    <div class="col-lg-1"></div>
    </div>
    </div>

    <!--<div class="col-lg-2 menu" style="height:100%;">yeehaw</div>-->
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>