<!DOCTYPE html>
<html lang="en">
<style>
    * {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: black;
    font-weight: bold;
    
    background: transparent;
    padding: 7px;
    
}

.outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;

    
}

.table-wrapper {

    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
    
}

table {
    
    min-width: max-content;
    
    border-collapse: separate;
    border-spacing: 0px;    
    
}

table th{
    position: sticky; 
    top: 0px;
    
    background-color: lightgray;
    color: Black(241, 245, 179);
    
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    outline: 0.7px solid black;
    border: 1.5px solid black;

} 

table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: left;
    
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 20px;
    cursor: pointer;
}
</style>

<body>
    <div class="heading">
    <h1 class="h1">Reparasjoner</h1>
</div>
    <div class="outer-wrapper">
    <div class="table-wrapper">
    <table>
        <thead>
            <th>Tittel</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Ansvarlig</th>
            <th>Sendt inn av</th>
            <th>Se detaljer</th>
        </thead>
        <tbody>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
            <tr>
                <td>1 time til Ørsta Kaffereparasjon</td>
                <td>01.01.23</td>
                <td>Godkjent</td>
                <td>Grim Arne</td>
                <td>Petter</td>
                <td>Se detajler</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<a asp-controller="RepairsDetailed" asp-action="Index" class="button">Legg til ny reparasjon</a>
</body>

</html>